.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.mobileNav {
  overflow: hidden;
  background: linear-gradient(to right, #37d5d6, #36096d);
}

.mobileNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 15px;
}

.mobileNav-right {
  float: right;
}
.mobileNav-right {
  float: right;
}
